@font-face {
  font-family: 'myCustomFont';
  src: url('AestheticRegular-8M5dM.ttf') format('truetype');
  /* Add other formats if available for wider browser support */
}


body{
    display: flex;
    flex-direction: column;
}


/* nav-bar css */
.navbar-custom{
    background-color: #112622;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    display: flex;
    position: sticky;
    left: 0;
    right:0; 
    top: 0px;
    flex-grow: 0;
    flex-shrink: 0;

    
}
.logo{
    margin:10px;

}

.logo-word{
    margin-top: 20px;
    align-self:left;
    justify-items: left;

}
.left{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 0;

}


    
body{
    padding: 0%;
    margin: 0%;
}

a:link{
    color: #ead8c3;
    text-decoration: none;
}

a:visited{
    color: #ead8c3;

}

a:hover{
    color: #a69886;
}

a:active{
    color: #A16D28;
}
a{
  transition-duration: 0.5s;
}

.nav-items{
    display:flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    font-family: 'myCustomFont';
    position : absolute;
    right: 15px; 
    margin-top: 25px;
       
}

.nav-item{
    text-decoration: none;
    font-size: large;
}

/* nav-bar css end*/



/* footer css */
.footer-custom{
    background-color: #112622;
}
.footer-title-color{
      color: #ead8c3;
      font-family: 'myCustomFont';
      font-size: medium;
}

.contact-info{
      color: #ead8c3;
      font-family: 'myCustomFont';
      font-size: medium;
}
/* footer css end*/





/* ABOUT US CSS */

.middle-content{
    background-color: #F2E9DC;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-items: center;
    gap: 50px;
    padding-top: 80px;
    padding-left:auto ;
    padding-right: auto;
}

button:hover{
    color: #ead8c3;
    background-color: #112622;
}

.lastpart{
    margin-bottom:250px ;
} 


@media (min-width: 992px) {

.first-part-sections{
    display: flex;
    max-width: 1200px;
    min-width: 800px;
    gap: 5%;
    margin:5%;
}

.first-part-img{
    border-bottom-left-radius: 40%;
    border-top-right-radius: 40%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border: 5px solid #112622;
}

.about-text{
    align-content: stretch;
    align-content: center;
}

.team-members{   /*questionable usage*/
    display: grid;
    flex-direction: column;
    grid-template-columns: 50px 50px 400px 100px;
    grid-template-rows: repeat(4, 200px);
    gap: 100px;
    padding-bottom: 20%;
}

.member-photo{ /*questionable usage*/
    border-radius: 50%;
}

.first-member{ /*questionable usage*/
    grid-area: 1/1/2/2;
}
.second-member{ /*questionable usage*/
    grid-area: 2/1/3/2;
}
.third-member{ /*questionable usage*/
    grid-area: 3/1/4/2;
}
.fourth-member{ /*questionable usage*/
    grid-area: 4/1/5/2;
}


.second-half{
    display: grid;
    grid-template-columns:repeat(7, 1fr);
    grid-template-rows: 1fr 1fr 1fr;    
    gap:30px;
    margin: 0%;
    padding: 0%;
    margin-bottom: 5%;
    
}

.second-half h1{
    grid-area: 1/1/2/-1;
    text-align: center;
}

.buttons{
    background-color: #F2E9DC;
    height: 150px;
    width: 200px;
    color:#112622;
    border: 2px solid #112622;
}

.who-button{
    border-bottom-left-radius: 40%;
    border-top-right-radius: 40%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    grid-area: 2/3/3/4;
}
.mission-button{
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    grid-area: 2/4/3/5;
}
.vision-button{
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    grid-area: 2/5/3/6;
}

.second-half p{
    max-width: 1200px;
    min-width: 600px;
    grid-area: 3/2/4/7;
    padding:20px;
    border: 2px solid #112622;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}



}


@media (max-width: 991px) {
.second-half{
    display: grid;
    grid-template-columns:170px minmax(230px , 400px);
    grid-template-rows: 1fr 1fr 1fr 1fr;    
    gap:30px;
    margin-left:5%;
    margin-right: 5%;
    padding: 0%;
}
.second-half h1{
    grid-area: 1/1/2/-1;
    text-align: center;
}
    
.buttons{
    background-color: #F2E9DC;
    height: 100px;
    width: 150px;
    color:#112622;
    border: 2px solid #112622;
}

.who-button{
    border-bottom-left-radius: 40%;
    border-top-right-radius: 40%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    grid-area: 2/1/3/2;
}
.mission-button{
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    grid-area: 3/1/4/2;
}
.vision-button{
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    grid-area: 4/1/5/2;
}

.second-half p{
    grid-area: 2/2/-1/-1;
    max-height: 400px;
    max-width: 600px;
    padding:20px;
    border: 2px solid #112622;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.first-part-sections{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr;
    max-width: 500px;
    min-width: 300px;
    gap: 5%;
}

.first-part-img{
    border-bottom-left-radius: 40%;
    border-top-right-radius: 40%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border: 5px solid #112622;
    width: 300px;
    height: 200px;
    margin: 5%;

}

.about-text{
    align-content: stretch;
    align-content: center;
    margin: 5%;
}

.first-person{
    grid-area: 1/1/2/2;
}
.first-text{
    grid-area: 2/1/3/2;
}

.second-person{
    grid-area: 3/1/4/2;
}
.second-text{
    grid-area: 4/1/5/2;
}

.third-person{
    grid-area: 5/1/6/2;
}
.third-text{
    grid-area: 6/1/7/2;
}

.fourth-person{
    grid-area: 7/1/8/2;
}
.fourth-text{
    grid-area: 8/1/9/2;
}

}





/* #mission{
    display: flex;
    max-width: 1200px;
    min-width: 800px;
    gap: 30px;
}
#vision{
    display: flex;
    max-width: 1200px;
    min-width: 800px;
    gap: 30px;
} */





/* ABOUT US CSS END */

